.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15a196;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-button {
    background-color: white;
    color: #15a196;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .navbar-button:hover {
    background-color: #13a08a;
    color: white;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 2000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup-button {
    background-color: #15a196;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .popup-button:hover {
    background-color: #13a08a;
  }